<%- include('layouting/header') %>

<div class="container" style="background-color:
    #f4f5f7 ;">
    <div class="container pt-4">
        <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);"
            aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item fw-bold">Cars</li>
                <li class="breadcrumb-item active fw-bold" aria-current="page"> <a href="/"
                        style="text-decoration: none; color: black;"> List Cars</a></li>
                <li class="breadcrumb-item active" aria-current="page">Update Car Information</li>

            </ol>
        </nav>

        <div class="py-3">
            <h4 class="fw-bolder" style="display: inline;">Update Car Information</h4>
            <form action="/update/<%= car._id %>" method="post" id="add-form" enctype="multipart/form-data">
                <div class="p-3 mt-3" style="background-color: #fff;">
                    <div class="mb-3 row">
                        <label for="nama" class="col-sm-2 col-form-label-sm text-muted">Nama*</label>
                        <div class="col-sm-10">
                            <input type="text" name="nama" value="<%= car.nama %>" class="form-control-sm p-2 w-50" placeholder="Avanza" required>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="tipe" class="col-sm-2 col-form-label-sm text-muted">Tipe*</label>
                        <div class="col-sm-10">
                            <input type="text" name="tipe" value="<%= car.tipe %>" class="form-control-sm p-2 w-50" placeholder="SUV" required>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="harga" class="col-sm-2 col-form-label-sm text-muted">Sewa Per Hari*</label>
                        <div class="col-sm-10">
                            <input type="text" name="harga" value="<%= car.harga %>" class="form-control-sm p-2 w-50" placeholder="Rp.0,-" required>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="ukuran" class="col-sm-2 col-form-label-sm text-muted">Ukuran</label>
                        <div class="col-sm-10">
                            <select value="<%= car.ukuran %>" class="form-select-sm p-2 pe-5 w-50 text-muted" name="ukuran"
                                id="#" aria-label="Default select example">
                                <option selected value="small">Small</option>
                                <option value="medium">Medium</option>
                                <option value="large">Large</option>
                            </select>
                            <!-- <input type="text" name="ukuran" value="" class="form-control-sm p-2 w-50" placeholder="Small" required> -->
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="image" class="col-sm-2 col-form-label-sm text-muted">Foto*</label>
                        <div class="col-sm-10">
                            <input type="file" name="image" class="form-control-sm p-2 pe-5 w-50 text-muted">
                        </div>
                        <input type="hidden" name="old_image" value="<%= car.image %>">
                    </div>
                </div>
                <br><br><br><br><br><br><br><br><br><br><br>
                <div class="mt-5 mb-3">
                    <button type="button" class="btn btn-outline-primary fw-bold rounded-0"> <a href="/"
                            style="text-decoration: none;"> Cancel </a></button>
                    &nbsp;
                    <button type="submit" name="submit" value="Update Data" class="btn btn-primary fw-bold rounded-0">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>


<%- include('layouting/footer') %>