<%- include('layouting/header') %>

<!-- Main -->
<div class="container" style="background-color:
#f4f5f7 ;">
    <div class="container pt-4">
        <% if (message) { %>
            <div class="alert alert-dismissible fade show justify-content-center alert-<%= message.type %>" role="alert">
               <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
               <strong><%= message.message %></strong>
           </div>
           <% } %>
        <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);"
            aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item fw-bold">Cars</li>
                <li class="breadcrumb-item active" aria-current="page">Library</li>
            </ol>
        </nav>

        <div class="py-3">
            <h4 class="fw-bolder" style="display: inline;"> List Cars</h4>
            <button class="btn btn-dark float-end me-4" style="background-color: #0d28a6;"><i
                    class="bi bi-plus-lg me-3"></i><a class="fw-bolder" href="/add"
                    style="color: #fff; text-decoration: none;">Add New Card</a></button>

            <div class="pt-4 ">
                <button type="button" class="btn btn-outline-primary fw-bold"
                    style="border-color: #0d28a6; color:#0d28a6;"> <a href="/"
                        style="text-decoration: none; color:#0d28a6;">All</a></button>
                <button type="button" class="btn btn-outline-primary fw-bold ms-2"
                    style="border-color: #0d28a6; color:#0d28a6;"> <a href="/filter/small"
                        style="text-decoration: none; color:#0d28a6;">Small</a> </button>
                <button type="button" class="btn btn-outline-primary fw-bold ms-2"
                    style="border-color: #0d28a6; color:#0d28a6;"> <a href="/filter/medium"
                        style="text-decoration: none; color:#0d28a6;">Medium</a></button>
                <button type="button" class="btn btn-outline-primary fw-bold ms-2"
                    style="border-color: #0d28a6; color:#0d28a6;"><a href="/filter/large"
                        style="text-decoration: none; color:#0d28a6;">Large</a></button>
            </div>
        </div>


        <div class="row">
            <% if (cars != '') { %>
                <% cars.forEach((row, index) => { %>
                    <div class=" col-lg-4 col-md-6 col-sm-12">
                        <div class="card border-4 border-white shadow p-3 mb-5 bg-body rounded " style="width: 20rem;">
                            <img src="<%= row.image %>" height="220" style="background-size: cover;" class="card-img-top px-4 py-4" name="image">
                            <div class="card-body">
                                <p class="card-text"><%= row.nama %>/<%= row.tipe %></p>
                                <p class="card-text fw-bold">Rp <%= row.harga %>/ hari</p>
                                <p class="card-text" style="font-weight:lighter; font-family: 'Calibri';">
                                    <i class="bi bi-clock me-1"></i> Updated at <%= row.created %></p>
                                <div class="d-flex justify-content-around">
                                    <a href="/delete/<%= row._id %>" class="btn btn-outline-danger px-4 me-2"><i
                                            class="bi bi-trash3 pe-1"></i>Delete</a>
                                    <a href="/edit/<%= row._id %>" class="btn btn-success opacity-75 px-4" style="width: 120px;"><i
                                            class="bi bi-pencil-square"></i>Edit</a>
                                </div>
                            </div>
                        </div>
                    </div>
                <% }) %>
            <% } else { %>
                <h1 class="text-center text-secondary mt-5">No cars found in database</h1>
            <% } %> 


<%- include('layouting/footer') %>